  <div class="row align-items-center text-center" style="margin-top:250px">
  <div class="col-md-12 mb-2">
    <h4 class="mb-4">管理者ログイン</h4>
  </div>
  </div>
 <div class="row align-items-center text-center">
  <div class="col-md-3 mx-auto">

    <%= form_with model: @admin, url: admin_session_path, class: 'registration-main', local: true do |f| %>
  <div class="field mb-5">

    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control pt-2 pb-2",placeholder:"メールアドレス"%>
  </div>

  <div class="field mb-5">

    <%= f.password_field :password, autocomplete: "current-password",class:"form-control pt-2 pb-2" ,placeholder:"パスワード"%>
  </div>

  <div class="actions">
    <%= f.submit "ログイン",class:"btn btn-sm btn btn-primary w-100 pt-2 pb-2"%>
  </div>
  </div>
  </div>
<% end %>
