  <div class="row align-items-center text-center" style="margin-top:150px">
  <div class="col-md-12 mb-5">
    <h1>About</h1>
  </div>
  <div class="col-md-8 mx-auto">
    <h3 style="line-height:2em;letter-spacing: 0.05em;">人生100年時代に向け、健康寿命を伸ばすために必要な栄養管理を、簡単に記録・共有できるサイトです。<br>
トレーニング、ダイエット、肥満予防など、目的に合わせた栄養指導やユーザー同士の交流もでき、あなたの体作りを<br>全面的にサポートします。</h3>
  </div>
  </div>
