  <h2 class="mt-3">いいね！した投稿</h2>
            <% if @nices.empty? %>
              <h3>まだいいね！していません。</h3>
<% else %>
  <div class="row">
    <div class="col-md-10 mx-auto mt-3">
      <table class="table table-striped">
        <thead>

          <tr>
            <th>ニックネーム</th>
            <th>日付</th>
            <th>時間帯</th>
          </tr>
        <tbody>
          <% @nices.each do |nice| %>
          <tr>
            <% date = nice.ymd %>
            <td><%= link_to nice.user.name, member_path(nice.user_id, year: date.year, month: date.month, day: date.day) %></td>
            <td><%= nice.ymd %></td>
            <td><%= nice.timeframe_i18n %></td>
            </tr>
          <% end %>
                    <% end %>
        </tbody>
        </thead>
      </table>