  <h2 class="mt-3"><%= @member.name %>さん</h2>
  <% if @user_dates.empty? %>
  <h3>食事の記録がありません。</h3>
  <% else %>
  <div class="row">
    <div class="col-md-12 mx-auto mt-3">
      <table class="table table-striped">
        <thead>

          <tr>
            <th>食事投稿一覧</th>
          </tr>
        <tbody>
        </tbody>
<% @user_dates.each do |user_date| %>
<tr>
  <% date = user_date.ymd %>
  <td><%= link_to "#{date.year}年#{date.month}月#{date.day}日", member_path(@member, year: date.year, month: date.month, day: date.day) %></td>
</tr>
<% end %>
<% end %>

</tbody>
        </thead>
      </table>